<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{82,70}</string>
                <key>textureRect</key>
                <string>{{915,864},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,28}</string>
                <key>spriteSourceSize</key>
                <string>{12,28}</string>
                <key>textureRect</key>
                <string>{{791,942},{12,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,28}</string>
                <key>spriteSourceSize</key>
                <string>{12,28}</string>
                <key>textureRect</key>
                <string>{{693,942},{12,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_blowup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{145,916},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_blowup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{1743,895},{68,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy1_blowup_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,68}</string>
                <key>textureRect</key>
                <string>{{1451,886},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy1_blowup_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{1743,833},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy1_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,50}</string>
                <key>textureRect</key>
                <string>{{1529,886},{68,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_blowup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,341}</string>
                <key>spriteSourceSize</key>
                <string>{220,341}</string>
                <key>textureRect</key>
                <string>{{1139,1},{220,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_blowup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,341}</string>
                <key>spriteSourceSize</key>
                <string>{220,341}</string>
                <key>textureRect</key>
                <string>{{344,643},{220,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy2_blowup_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,341}</string>
                <key>spriteSourceSize</key>
                <string>{220,341}</string>
                <key>textureRect</key>
                <string>{{1361,1},{220,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_blowup_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,341}</string>
                <key>spriteSourceSize</key>
                <string>{220,341}</string>
                <key>textureRect</key>
                <string>{{1139,344},{220,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy2_blowup_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,341}</string>
                <key>spriteSourceSize</key>
                <string>{221,341}</string>
                <key>textureRect</key>
                <string>{{1,643},{221,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy2_blowup_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,269}</string>
                <key>spriteSourceSize</key>
                <string>{191,269}</string>
                <key>textureRect</key>
                <string>{{1482,344},{191,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_blowup_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,269}</string>
                <key>spriteSourceSize</key>
                <string>{191,269}</string>
                <key>textureRect</key>
                <string>{{1469,615},{191,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,328}</string>
                <key>spriteSourceSize</key>
                <string>{219,328}</string>
                <key>textureRect</key>
                <string>{{1139,566},{219,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy2_fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,332}</string>
                <key>spriteSourceSize</key>
                <string>{219,332}</string>
                <key>textureRect</key>
                <string>{{1583,1},{219,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,340}</string>
                <key>spriteSourceSize</key>
                <string>{219,340}</string>
                <key>textureRect</key>
                <string>{{687,643},{219,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3_blowup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,120}</string>
                <key>spriteSourceSize</key>
                <string>{92,120}</string>
                <key>textureRect</key>
                <string>{{1029,769},{92,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_blowup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,120}</string>
                <key>spriteSourceSize</key>
                <string>{92,120}</string>
                <key>textureRect</key>
                <string>{{235,866},{92,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3_blowup_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,122}</string>
                <key>spriteSourceSize</key>
                <string>{92,122}</string>
                <key>textureRect</key>
                <string>{{357,865},{92,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3_blowup_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{599,865},{92,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,116}</string>
                <key>spriteSourceSize</key>
                <string>{92,116}</string>
                <key>textureRect</key>
                <string>{{481,865},{92,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy3_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1029,643},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy4_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,137}</string>
                <key>spriteSourceSize</key>
                <string>{79,137}</string>
                <key>textureRect</key>
                <string>{{1662,833},{79,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy5_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{693,864},{76,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{1599,886},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pause_hl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{1063,891},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_blowup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,164}</string>
                <key>spriteSourceSize</key>
                <string>{132,164}</string>
                <key>textureRect</key>
                <string>{{1675,335},{132,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_blowup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,164}</string>
                <key>spriteSourceSize</key>
                <string>{132,164}</string>
                <key>textureRect</key>
                <string>{{1675,501},{132,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_blowup_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,164}</string>
                <key>spriteSourceSize</key>
                <string>{132,164}</string>
                <key>textureRect</key>
                <string>{{1662,667},{132,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_blowup_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,102}</string>
                <key>spriteSourceSize</key>
                <string>{88,102}</string>
                <key>textureRect</key>
                <string>{{811,864},{88,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,160}</string>
                <key>spriteSourceSize</key>
                <string>{132,160}</string>
                <key>textureRect</key>
                <string>{{1127,787},{132,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,160}</string>
                <key>spriteSourceSize</key>
                <string>{132,160}</string>
                <key>textureRect</key>
                <string>{{1289,787},{132,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1804,1},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{999,891},{62,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,48}</string>
                <key>spriteSourceSize</key>
                <string>{142,48}</string>
                <key>textureRect</key>
                <string>{{1,916},{142,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,48}</string>
                <key>spriteSourceSize</key>
                <string>{232,48}</string>
                <key>textureRect</key>
                <string>{{1,866},{232,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>arts.png</string>
            <key>size</key>
            <string>{1808,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743b7191ac189853a5a8eff8ba13e7a0:e45e805be05e40ec2042a895cb8390b0:6cdd7cf9395dacc3896851be328fca2d$</string>
            <key>textureFileName</key>
            <string>arts.png</string>
        </dict>
    </dict>
</plist>
